<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR generator</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Honk&display=swap" rel="stylesheet">
</head>
<body>
    <div id="Header">
    </div>
    <div class="progress-1"></div>
    <div id="text" class="dis">QR Generated successfully</div>
    <img src="../qrgen.png" alt="QRCODE IMG" id="qr1" class="dis">
    <a href="../qrgen.png" download=""><input type="button" value="DOWNLOAD" id="btn1" class="dis"></a>
</body>
</html>